/**************************************************************************
*
* Copyright 2014 by Petr Gargulak. eGUI Community.
* Copyright 2009-2013 by Petr Gargulak. Freescale Semiconductor, Inc.
*
***************************************************************************
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License Version 3
* or later (the "LGPL").
*
* As a special exception, the copyright holders of the eGUI project give you
* permission to link the eGUI sources with independent modules to produce an
* executable, regardless of the license terms of these independent modules,
* and to copy and distribute the resulting executable under terms of your
* choice, provided that you also meet, for each linked independent module,
* the terms and conditions of the license of that module.
* An independent module is a module which is not derived from or based
* on this library.
* If you modify the eGUI sources, you may extend this exception
* to your version of the eGUI sources, but you are not obligated
* to do so. If you do not wish to do so, delete this
* exception statement from your version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*
* You should have received a copy of the GNU General Public License
* and the GNU Lesser General Public License along with this program.
* If not, see <http://www.gnu.org/licenses/>.
*
***************************************************************************//*!
*
* @file      d4dlcdhw_flexbus_16b_cfg.h.example
*
* @author     Petr Gargulak
*
* @version   0.0.4.0
*
* @date      Jun-28-2010
*
* @brief     D4D driver - flexbus_16b hardware lcd driver configuration header file
*
*******************************************************************************/

#ifndef __D4DLCDHW_FLEXBUS_16B_CFG_H
#define __D4DLCDHW_FLEXBUS_16B_CFG_H


  /******************************************************************************
  * includes
  ******************************************************************************/
  // include here what the driver need for run for example "derivative.h"
   #include "derivative.h"    /* include peripheral declarations and more for S08 and CV1 */

  /******************************************************************************
  * Constants
  ******************************************************************************/

  #define D4DLCD_DISPLAY_MCU_USER_INIT MCF_GPIO_PTEPAR |= MCF_GPIO_PTEPAR_MB_A0_MB_A0 | MCF_GPIO_PTEPAR_MB_A1_MB_A1 | MCF_GPIO_PTEPAR_MB_A2_MB_A2 | MCF_GPIO_PTEPAR_MB_A3_MB_A3 | MCF_GPIO_PTEPAR_MB_A4_MB_A4 | MCF_GPIO_PTEPAR_MB_A5_MB_A5 | MCF_GPIO_PTEPAR_MB_A6_MB_A6 | MCF_GPIO_PTEPAR_MB_A7_MB_A7; \
	 	MCF_GPIO_PTFPAR |= MCF_GPIO_PTFPAR_MB_A8_MB_A8 | MCF_GPIO_PTFPAR_MB_A9_MB_A9 | MCF_GPIO_PTFPAR_MB_A10_MB_A10 | MCF_GPIO_PTFPAR_MB_A11_MB_A11 | MCF_GPIO_PTFPAR_MB_A12_MB_A12 |MCF_GPIO_PTFPAR_MB_A13_MB_A13 | MCF_GPIO_PTFPAR_MB_A14_MB_A14 | MCF_GPIO_PTFPAR_MB_A15_MB_A15; \
	 	MCF_GPIO_PTGPAR |= MCF_GPIO_PTGPAR_MB_A16_MB_A16 | MCF_GPIO_PTGPAR_MB_CS0_MB_CS0 | MCF_GPIO_PTGPAR_MB_RW_MB_RW;

  #define D4DLCD_FLEX_BASE_ADDRESS  0x00410000



  #define D4DLCD_FLEX_DC_ADDRESS    0x00400000



  #define D4DLCD_FLEX_ADRESS_MASK   0x00010000


  #define D4DLCD_FLEX_CS 0


  //#define D4DLCD_FLEX_CSAR MCF_FBCS0_CSAR
  //#define D4DLCD_FLEX_CSMR MCF_FBCS0_CSMR
  //#define D4DLCD_FLEX_CSCR MCF_FBCS0_CSCR


	//#define D4DLCD_FLEX_CSMR_V_MASK MCF_FBCS_CSMR_V
	//#define D4DLCD_FLEX_CSCR_MUX_MASK MCF_FBCS_CSCR_MUX
	//#define D4DLCD_FLEX_CSCR_AA_MASK MCF_FBCS_CSCR_AA
	//#define D4DLCD_FLEX_CSCR_PS1_MASK MCF_FBCS_CSCR_PS_16

  /*******************************************
  * Signals definition
  *******************************************/

  #define D4DLCD_RESET           3         // RESET
  #define D4DLCD_RESET_PORT      PTCD      // RESET
  #define D4DLCD_RESET_DDR       PTCDD     // RESET

  //#define D4DLCD_BACKLIGHT       0         // BACKLIGHT
  //#define D4DLCD_BACKLIGHT_PORT  PTCD      // BACKLIGHT
  //#define D4DLCD_BACKLIGHT_DDR   PTCDD     // BACKLIGHT


  /*********** Power macros - for modification uncoment and modify ***********/


  //#define D4DLCD_INIT_RESET OUTPUT(D4DLCD_RESET);
  //#define D4DLCD_ASSERT_RESET RESET(D4DLCD_RESET);
  //#define D4DLCD_DEASSERT_RESET SET(D4DLCD_RESET);

  // define here what you need to be configurable

#endif /* __D4DLCDHW_FLEXBUS_16B_CFG_H */
