/**************************************************************************
*
* Copyright 2014 by Petr Gargulak. eGUI Community.
* Copyright 2009-2013 by Petr Gargulak. Freescale Semiconductor, Inc.
*
***************************************************************************
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License Version 3
* or later (the "LGPL").
*
* As a special exception, the copyright holders of the eGUI project give you
* permission to link the eGUI sources with independent modules to produce an
* executable, regardless of the license terms of these independent modules,
* and to copy and distribute the resulting executable under terms of your
* choice, provided that you also meet, for each linked independent module,
* the terms and conditions of the license of that module.
* An independent module is a module which is not derived from or based
* on this library.
* If you modify the eGUI sources, you may extend this exception
* to your version of the eGUI sources, but you are not obligated
* to do so. If you do not wish to do so, delete this
* exception statement from your version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*
* You should have received a copy of the GNU General Public License
* and the GNU Lesser General Public License along with this program.
* If not, see <http://www.gnu.org/licenses/>.
*
***************************************************************************//*!
*
* @file      d4dlcdhw_gpio6800_8b_cfg.h.example
*
* @author     Petr Gargulak
*
* @version   0.0.2.0
*
* @date      May-7-2010
*
* @brief     D4D low level driver SSD1289 hardware level LCD header configuration file
*
*******************************************************************************/

#ifndef __D4DLCDHW_GPIO6800_8B_CFG_H
#define __D4DLCDHW_GPIO6800_8B_CFG_H

  /******************************************************************************
  * includes
  ******************************************************************************/

  #include "derivative.h"       /* include peripheral declarations and more for S08 and CV1 */
  //#include "support_common.h" /* include peripheral declarations and more for CV2 */


  /******************************************************************************
  * Constants
  ******************************************************************************/


  //#define D4DLCD_DISPLAY_MCU_USER_INIT;

  /*******************************************
  * Signals definition
  *******************************************/
  #define D4DLCD_CS              2         // CS
  #define D4DLCD_CS_PORT         PTFD      // CS
  #define D4DLCD_CS_DDR          PTFDD     // CS

  #define D4DLCD_DC              3         // DC
  #define D4DLCD_DC_PORT         PTFD      // DC
  #define D4DLCD_DC_DDR          PTFDD     // DC


  // I/O port CONFIG for parallel transfer

  #define D4DLCD_DATA            PTBD      // 8bit bus
  #define D4DLCD_DATA_DDR        PTBDD     // 8bit bus DDR
  #define D4DLCD_DATA_PE         PTBPE     // 8bit bus PE

  #define D4DLCD_WR              5         // WRITECLOCK
  #define D4DLCD_WR_PORT         PTFD      // WRITECLOCK
  #define D4DLCD_WR_DDR          PTFDD     // WRITECLOCK

  #define D4DLCD_E              4         // READCLOCK
  #define D4DLCD_E_PORT         PTFD      // READCLOCK
  #define D4DLCD_E_DDR          PTFDD     // READCLOCK

  #define D4DLCD_RESET           3         // RESET
  #define D4DLCD_RESET_PORT      PTCD      // RESET
  #define D4DLCD_RESET_DDR       PTCDD     // RESET

  //#define D4DLCD_BACKLIGHT       0         // BACKLIGHT
  //#define D4DLCD_BACKLIGHT_PORT  PTCD      // BACKLIGHT
  //#define D4DLCD_BACKLIGHT_DDR   PTCDD     // BACKLIGHT


  /*********** Power macros - for modification uncoment and modify ***********/

  //#define D4DLCD_INIT_CS OUTPUT(D4DLCD_CS);
  //#define D4DLCD_ASSERT_CS RESET(D4DLCD_CS);
  //#define D4DLCD_DEASSERT_CS SET(D4DLCD_CS);

  //#define D4DLCD_INIT_DC OUTPUT(D4DLCD_DC);
  //#define D4DLCD_ASSERT_DC RESET(D4DLCD_DC);
  //#define D4DLCD_DEASSERT_DC SET(D4DLCD_DC);

  //#define D4DLCD_INIT_RD OUTPUT(D4DLCD_E);
  //#define D4DLCD_ASSERT_RD RESET(D4DLCD_E);
  //#define D4DLCD_DEASSERT_RD SET(D4DLCD_E);

  //#define D4DLCD_INIT_WR OUTPUT(D4DLCD_WR);
  //#define D4DLCD_ASSERT_WR RESET(D4DLCD_WR);
  //#define D4DLCD_DEASSERT_WR SET(D4DLCD_WR);

  //#define D4DLCD_INIT_DATA OUTPUT_ALL(D4DLCD_DATA);

  //#define D4DLCD_INIT_RESET OUTPUT(D4DLCD_RESET);
  //#define D4DLCD_ASSERT_RESET RESET(D4DLCD_RESET);
  //#define D4DLCD_DEASSERT_RESET SET(D4DLCD_RESET);



#endif /* __D4DLCDHW_GPIO6800_8B_CFG_H */










